<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="formulario">
                Dado um valor N, conte quantos valores inteiros existem
            </p>
            <p class="formulario">
                entre 1 (inclusive) e N (inclusive)
            </p>
            <p class="formularioQ">
                Informe um número para ser feito a contagem.
            </p>
            <form method="POST" action="/contagem" autocomplete="off">
                <input name="numf" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>