<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                A <%= operacao %> de 1 até <%= numf %> é <%= contagem_resultado %>
            </p>
            <p class="formularioQ">
                Informe o próximo número para ser feito a contagem.
            </p>
            <form method="POST" action="/contagem" autocomplete="off">
                <input name="numf" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>