<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="formulario">
                Cada termo, além dos dois primeiros, é derivado
            </p>
            <p class="formulario">
                da soma de seus dois antecessores mais próximos.
            </p>
            <p class="formularioQ">
                Informe a posição para mostrar a Fibonacci.
            </p>
            <form method="POST" action="/fibonacci" autocomplete="off">
                <input name="posicao" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>