<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                Mostrando o termo <%= operacao %> para a posição solicitada (<%= posicao %>): <%= fibonacci_resultado %>
            </p>
            <p class="formularioQ">
                Informe a próxima posição para mostrar a Fibonacci.
            </p>
            <form method="POST" action="/fibonacci" autocomplete="off">
                <input name="posicao" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>