<div class="apresentacao">
    <div class="apres">
        <p>Esse site está sendo desenvolvido, com finalidade avaliativa, para composição de notas das disciplinas
        </p>
        <p class="destaque1">Desenvolvimento de Software em Nuvem</p>
        <p>e</p>
        <p class="destaque1"> Ambientes de Desenvolvimento de Software,</p>
        <p>ministradas pelos professores:</p>
        <p class="destaque2">Carlos Mendes e Alzir Falcão,</p>
        <p>as quais compõem a grade curricular do segundo semestre do curso</p>
        <p class="destaque2">Análise e Desenvolvimento de Sistemas</p>
        <p> na Universidade de Fortaleza.</p>
        </p>
    </div>
</div>