<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="formulario">
                O Máximo Divisor Comum de dois inteiros a, b
            </p>
            <p class="formulario">
                é o maior número inteiro que divide a e b.
            </p>
            <p class="formularioQ">
                Informe 2 números para mostrar o MDC entre eles.
            </p>
            <form method="POST" action="/mdc" autocomplete="off">
                <input name="num1" type="text" />
                <input name="num2" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>