<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="formulario">
                Um número inteiro positivo n é primo
            </p>
            <p class="formulario">
                se for divisível apenas por 1 e por n.
            </p>
            <p class="formularioQ">
                Informe o número para saber se ele é PRIMO.
            </p>
            <form method="POST" action="/primos" autocomplete="off">
                <input name="num" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>