<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                <%= primos_resultado %>
            </p>
            <p class="formularioQ">
                Informe outro número para saber se ele é PRIMO.
            </p>
            <form method="POST" action="/primos" autocomplete="off">
                <input name="num" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>