<p class="tratamento"></p>
<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            
            <% if(resultado) { %>
                <p class="resultado">
                    Vetor a ser somado: <%= vetorEntrada %>. </br>Resultado da soma: <%= resultado %>
                </p>
            <% } else { %>
                <p class="resultado">
                    Por favor, confira o seu vetor
                </p> 
            <% } %>

            <p class="formularioQ">
                Informe os próximos números para serem somados.
            </p>
            <form method="POST" action="/somatorio" autocomplete="off">
                <%- include("./elementos/inputVetor") %>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
<div class="tratamento"></div>