<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="formulario">
                Soma de um conjunto de números.
            </p>
            <p class="formularioQ">
                Informe os números que você deseja
            </p>
            <p class="formularioQ">
                que sejam somados.
            </p>
            <form method="POST" action="/somatorio" autocomplete="off">
                <%- include("./elementos/inputVetor") %>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>