<!DOCTYPE html>
<html lang="en">
<head>
    <title>Algoritmos Fundamentais</title>
</head>
<body>
    <h1>Algoritmos Fundamentais</h1>
    
    <ul>
        <li>Contagem</li>
        <li>Somatorio</li>
        <li>Primo</li>
    </ul>

    <%- body %>

    <p>
        Desenvolvido por Gui
    </p>
</body>
</html>